body {
  font-family: "Roboto", Arial, sans-serif;
  margin: 0 auto;
  text-align: center;
  margin-top: 50px;
  color: #fff;
  text-shadow: -1px -1px #333;
  background: #333;
}

h1 {
  font-weight: normal;
}

.turn {
  margin-bottom: 10px;
}

.statDesc {
  float:left;
  margin:10px;
  width:300px;
}

.stat {
  float:right;
}

.messages {
 color:lightblue;
 margin-bottom:10px;
}

.champHeader {
  padding:10px;
}

.champData {
  font-size:0.8rem;
}

#timeElapsedBox {
  width:160px;
  margin:0px auto;
}

#timeElapsedText {
  float:left;
}

#timeElapsed {
  float:right;
}

#gameStats {
  padding:2px;
  border-radius:5px;
  text-align:left;
  border: 1px solid black;
  width:350px;
  height:115px;
  margin: 15px auto;
}

#championshipStats {
  display: none;
  margin-bottom:30px;
}

table {
  border-collapse: collapse;
  width: 150px;
  margin: 0 auto;
}

td {
  width: 50px;
  height: 50px;
  border: 1px solid #555;
  cursor: pointer;
  text-align:center;
  font-size:1.3em;
}

td:before {
  font-size: 1.5em;
  line-height: 1;
}

td.cross:before {
  content: "x";
  color: lightblue;
}

td.circle:before {
  content: "o";
  color: pink;
}

.championShipsBtn {
  width:100%;
  background: #555;
  border: 1px solid #333;
  padding: 20px;
  color: #fff;
  cursor: pointer;
  font-family: "Roboto", Arial, sans-serif;
  text-transform: uppercase;
}

.startNewBtn {
  width:100%;
  background: #555;
  margin-top:30px;
  border: 1px solid #333;
  padding: 20px;
  color: #fff;
  cursor: pointer;
  font-family: "Roboto", Arial, sans-serif;
  text-transform: uppercase;
}

.startNewBtn:hover {
  opacity: 0.8;
}

.championShipsBtn:hover {
  opacity: 0.8;
}

